body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../42277.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    /* Añadido espacio interior general */
}

.titulo2 {
    color: whitesmoke;
    font-family: 'Chivo Mono', monospace;
}

.imagenepayco {
    max-width: 200px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    /* Añadido para bordes redondeados */
}

.copy {
    font-size: 1.2em;
    color: black;
}

.boton-container {
    margin-top: 20px;
}

.botonR,
.botonWA {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botonR {
    background-color: #3498db;
}

.botonWA {
    background-color: #25d366;
}

.botonR:hover,
.botonWA:hover {
    background-color: #2980b9;
}

.botonR,
.botonWA {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botonR:hover,
.botonWA:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
    .contenedor {
        padding: 20px;
        /* Ajustado espacio interior en pantallas pequeñas */
    }

    .imagenepayco {
        max-width: 100%;
    }

    .copy {
        font-size: 1em;
    }

    .botonR,
    .botonWA {
        font-size: 0.9em;
    }
}