/* SELECCIONAR TODAS LAS ETIQUETAS
PARA DARLE LOS ESTILOS GENERALES */
/* formato básico de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Chivo Mono', monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

/* AHORA EL FONDO */
body {
    background-image: url(../Login-register/images/bg4.jpg);
    background-size: cover;
    /* PARA QUE SE ADAPTE AL TAMAÑO */
    background-repeat: no-repeat;
    /* PARA QUE NO SE REPITA  */
    background-position: center;
    /* QUE ESTÉ POSICIONADO */
    /* background-attachment: fixed; PARA QUE ABARQUE TODO EL ANCHO DE LA PÁGINA */
}

/* DISEÑO DE LA PÁGINA */

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/* CONTENEDOR TODO */

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    /* HASTA AQUÍ LO MANTENEMOS CENTRADO */
    position: relative;
}

/* LA CAJA TRASERA */

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    /* PARA EL EFECTO */
    justify-content: center;
    backdrop-filter: blur(1px);
    background-color: rgba(216, 81, 81, 0.5);
}

/* CAJA TRASERA DIV LOGIN Y REGISTER */

.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #892929;
}

.botonise {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    color: #ffffff;
    background-color: #892929;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3;

    /* //sin estilo  */
    /* padding: 15px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    background: #fff;
    color: #892929; */
}

/* FORMULARIOS */
/* ESTILOS AL CONTENEDOT DE TODO */
.contenedor__login-register {
    display: flex;
    /* PARA SEPARAR LOS FORMULARIOS Y POSICIONAR DE MANERA VERTICAL*/
    align-items: center;
    /* POSICIONAMOS EN EL CENTRO */
    width: 100%;
    max-width: 380px;
    position: relative;
    /* ABAJO YA TIENE POSICIÓN ABSOLUTA EL CONT TRASERO */
    top: -185px;
    left: 10px;

    /*EFECTOS DE MOVIMIENTO CSS*/
    /*BTN REGISTRARSE: EVENTO UNO DE LA ANIMACIÓN (SE MUEVE INICIALMENTE).*/

    /*EFECTO DE TRANSICIÓN A LA DERECHA*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

    /*EFECTO DOS EN JS TB INICIAR SESION*/

}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    /* PARA QUE LO PODAMOS MOVER */
    border-radius: 20px;
}

/* H2 */
.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #ad0808;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

/* BOTÓN DE REGISTRO */

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #892929;
    color: white;
    cursor: pointer;
    outline: none;

}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

/* !!! */
/* IMPORTANTE */

/* RESPOSIVE DESIGN */

/* IMPORTANTE */
/* !!! */

@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        /* ANTERIORMENTE LA TENÍAMOS CON 800PX EN LA CONFIG PADRE, AQUÍ LA LIMITAMOS A 350PX */
        height: 300px;
        flex-direction: column;
        margin: a;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /* FORMULARIO: RESPONSIVE DESIGN */
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }

}

.imgwebp {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
}

/* FINALIZACIÓN DEL CÓDIGO CSS
POR: FRANCISCO QUIÑONES MALDONADO */